<!DOCTYPE html>

<html>
<head>
  <%- include('template/head') %>
</head>

<body>
  <nav class="navbar">
    <%- include('template/navbar') %>
  </nav>
  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>
  <div class="container-wrapper">
    <div class="posts">
      <% for (let article of articles) { %>
      <article class="post">
        <div class="post__header">
          <div><%= article.title %></div>
          <div class="post__actions">
            <% if (username) { %>
            <a class="post__action" href="/blog/edit/<%= article.id %>">編輯</a>
            <% } %>
          </div>
        </div>
        <div class="post__info">
          <div><%= article.createdAt %></div>
        </div>
        <div class="post__content">
          <div><%= article.content.split('\n')[0] %></div>
        </div>
        <a class="btn-read-more" href="/blog/show/<%= article.id %>">READ MORE</a>
      </article>
      <% } %>
    </div>
  </div>
  <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
</body>
</html>